.alert-success {
  position: fixed;
  top: 15%;
  left: 74%;
  transition: all .5s ease;
  /*!*background-color: lightgreen;*!*/
  /*display: block;*/
  /*!*border-radius: 20px;*!*/
}

/*.alert-success_container {*/
  /*padding: 10px;*/
  /*color: white;*/
  /*text-shadow: 1px 1px 1px red;*/
/*}*/

.alert-enter {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  opacity: 0;
}

.alert-leave-active {
  opacity: 0;
  /*transform: translateY(-30px);*/
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.bounce-enter-active {
  animation: bounce-in .5s;
}

.bounce-leave-active {
  animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
