
.imgHome{
  margin: 0 auto;
  width: 70%;
  height: 500px;
  background: url("../static/img/vue.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.headerContent{
  display: flex;
  justify-content: center;
  padding-top: 25px;
  font-size: 22px;
  font-weight: bold;
  color: darkcyan;
}
